        <!--Header-->
        <header>
            <div class="navbar-fixed">
             <nav class="">
             <div class="nav-wrapper">
             <a href="/" class="brand-logo">Green Farm Developers</a>
             <a href="#" data-target="slide-out" class="sidenav-trigger">
               <i class="material-icons">menu</i></a>
             <ul class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
               <% if(user) {%>
                 <li><a href="/logout">LOG OUT</a></li>
                 <% if(user.role === "admin" || user.role === "owner"){%>
                  <li><a href="/api/v1/admin">Admin</a></li>
                <%}%>
                 <%} else {%>
                 <li><a href="/login">LOG IN</a></li>
                 <li><a href="/Signup">SIGN UP</a></li>
                 <%}%>
         </ul>
       </div>
             </nav>
             </div>
             <ul id="slide-out" class="sidenav">
                 <li><a href="/">Home</a></li>
                 <% if(user) {%>
                     <li><a href="/logout">LOG OUT</a></li>
                     <li><a href="/api/v1/admin">Admin</a></li>
                     <%} else {%>
                     <li><a href="/login">LOG IN</a></li>
                     <li><a href="/Signup">SIGN UP</a></li>
                     <%}%>
            </ul>
         </ul>
         </header>