        <!--Header-->
        <header>
            <div class="navbar-fixed">
             <nav class="">
             <div class="nav-wrapper">
             <a href="#" class="brand-logo">Green Farm Developers</a>
             <a href="#" data-target="slide-out" class="sidenav-trigger">
               <i class="material-icons">menu</i></a>
             <ul class="right hide-on-med-and-down">
                 <li><a href="/">Home</a></li>
                 <li><a href="/About">About us</a></li>
                 <li><a href="/Client">Clients</a></li>
                 <li><a href="#Social media">Social media</a></li>
                 <li><a href="#Photo gallery">Photo gallery</a></li>
                 <li><a href="#Contact us">Contact us</a></li>
                 </a></li>
         </ul>
       </div>
             </nav>
             </div>
             <ul id="slide-out" class="sidenav">
                 <li><a href="/">Home</a></li>
                 <li><a href="/About">About us</a></li>
                 <li><a href="/Client">Clients</a></li>
             <li><a href="#Social media">Social media</a></li>
                 <li><a href="/doctor">Admin</a></li>
                 <li><a href="#Contact us">Contact us</a></li>
         </ul>
         </header>