<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head");%>
<body>
<%-include("./partials/nav");%>
<main>
    <div class="container">
        <ul class="collapsible z-depth-0 guides" style="border: none;">
            <li>
                <div class="collapsible-header grey-lighten-4 text-large">History</div>
            <div class="collapsible-body white">
              <h4 class="center">Rental Houses</h4>
              <P style="font-size: 1.5rem;">Started with our own Residential house and understanding the need for houses for the rising population
              We had to quench the thirst and give them best home experience There came Green developers Homes 
              </P>
              <h4 class="center">Fish Farming</h4>
              <P style="font-size: 1.5rem;">Since we are situated in Mt kenya region where rainfall is sufficient,we actually had to collect and store exess water
                for future use.The excess water we did use it for agricultural farming and aquaculture where there is a growing demand for fish
              </P>
              <h4 class="center">Seedlings</h4>
              <P style="font-size: 1.5rem;">We as Green farm developers we have always valued environment conservation this led us to start seedbeds,
                 where over the years we have been suppling seedlings of all varieties.We are certified and licensed by KFRI
                 (Kenya Forest Research Institute)
                </P>
            </div>
                </li>
            <li>
                <div class="collapsible-header grey-lighten-4 text-large">Mission</div>
            <div class="collapsible-body white" style="font-size: 1.5rem;">
              <P>Our Mission is to support the big 4 agenda of our Kenya Government that is:</P>
             <p> (1)-Food and Nutrition security</p>
             <p>(2)-Affordable housing</p> 
             <P>(3)-Manufacture</P>
             <P>(4)-Universal Health Care</P>
             <p>Hence we came up with rental houses, fish farming , Nutrition & Health clinic , bananas and vegetables farming.
               Hence covering the enire niche and meeting the country Mission
             </p>
            </div>
                </li>
                <li>
                    <div class="collapsible-header grey-lighten-4 text-large">Vision</div>
                <div class="collapsible-body white" style="font-size: 1.5rem;">Our goal and vision is by 2030 we be part of 
                  Kenyan Government success, for a better living for kenyan citizens</div>
                    </li>
        </ul>
    </div>

    <div class="container">
      <h2 class="indigo-text-darken-4 text-center prof-text green" >Team profile</h2>
    </div>
<!--TEAM AND Founder-->
<setion class="container scrollspy" id="Founder">
    <div class="row prof-row">
      <div class="col s12 l4 offset-l1">
        <img src="/assets/CEO.jpg"
         class="responsive-img materialboxed prof-img">
      </div>
      <div class="col s12 l6 offset-l1 ">
        <h3>Mr James Kamotho </h3>
        <h5>The C.E.O</h5>
        <P style="font-size: 1.5rem;">Green farm community is one of a kind founded under the principles of integrity,harmony and co-operation between us and our dear clients.
          Over the years we have offered quality services and better life accomodation to our beloved customers.Do your booking for house accomodation
          as well inneed of any services let us know.Interact with us in our social media plartforms and give us your views we shall appreciate alot.

        </P>
      </div>
    </div>
    <div class="row">
      <div class="row prof-row">
        <div class="col s12 l4 push-l7">
          <img src="/assets/Vice CEO.jpg"  
           class="responsive-img materialboxed prof-img">
        </div>
        <div class="col s12 l6 pull-l5 right-align offset-l1">
          <h3>Mrs kamotho</h3>
          <h5>The vice president</h5>
          <P style="font-size: 1.5rem;">We are here to deliver the best service to you our dear customer and to make you feel at home.We are always available and if you want to reach us face to face you are dearly welcome at our headquaters Nyeri.
          </P>
        </div>
      </div>
      </div>
  </setion>
  <!--Our services-->
  <div class="container scrollspy" id="Services">
    <h2>Services</h2>
    <div class="row">
    <div class="col s12 l6">
      <div class="card">
        <div class="card-image">
    <img src="/assets/picture5.jpg" style="width: px; height: 400px;" class="responsive-img">
    <a href="#" class="halfway-fab btn-floating pink pulse">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>
        </div>
        <div class="card-content">
          <span class="card-title">Rentals</span>
          <div style="font-size: 1rem;">
            <p>In need of either a single room,bed siter or an appartment this is the best place you have come to look at</p>
            <p>The rental cost is well affordable meeting the tenant pocket</p>
          </div>       
        
        </div>
        <div class="card-action">
          <a href="/housebook" class="modal-trigger">More details</a>
          <a  href="https://web.facebook.com/james.kamotho.501">follows on</a>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="card">
        <div class="card-image">
    <img src="/assets/fish.jpeg"  style="width: 250; height: 400px;" class="responsive-img">
    <a href="#" class="halfway-fab btn-floating pink pulse">
      <i class="fa fa-medkit" aria-hidden="true"></i>
    </a>
        </div>
        <div class="card-content">
          <span class="card-title">Nutrition services</span>
          <p style="font-size: 1rem;">Get best health advice from a qualified practitionist</p>
        </div>
        <div class="card-action">
          <a href="/patientbook" class="modal-trigger">More details</a>
          <a href="https://web.facebook.com/james.kamotho.501">follows on</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!--modal2-->
    <div class="modal" id="modal2">
      <div class="container">
        <h3 class="text-align center">For booking</h3>
<ul class="collection with-header">
<li class="collection-header">Contact us</li>
<li class="collection-item">email:greenfarm199@mail.com</li>
<li class="collection-item">phonenumber: 0721308329/0725730116</li>
</ul>
<form action="/booking" method="POST">
  <h3>Booking  Form</h3>
  <div class="input-field">
    <input type="text" name="name" id="name" placeholder="" required>
    <label for="name">
      <span class="material-icons">
        account_circle
        </span>
    </label>
  </div>
    <div class="input-field">
      <input type="number" name="phonenumber" id="phonenumber" placeholder="07xxxxxx00." required>
      <label for="phonenumber"> 
      <i class="material-icons">phone</i>
      </label>
    </div>
  <div class="input-field">
<input type="text" name="email" id="email" placeholder="email@gmail.com" required>
<label for="email">
  <i class="material-icons">email</i>
</label>
  </div>

<p>
  <label>
    <input name="housedescription" type="radio"  value="single-rooms" checked/>
    <span>Single-rooms</span>
  </label>
</p>
<p>
  <label>
    <input class="with-gap"
     name="housedescription" value="bed-sitter" type="radio"  />
    <span>Bed-sitter</span>
  </label>
</p>
<p>
  <label>
    <input name="housedescription" type="radio"  value="appartments"
     disabled="disabled" />
    <span>Appartments</span>
  </label>
</p>
<div id="houseresult"></div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="details"name="details"
     placeholder="Enter More details on house you want to book" required>
    </textarea>
    <label class="details">
      <span class="material-icons">
        feed
        </span>
    </label>
  </div>
  
  <div class="input-field">
    <input type="text" name="date" class="datepicker">
    <label for="date">
      <span class="material-icons">
        calendar_today
        </span>
    </label>
  </div>
  <button class="btn teal" onclick="displayRadiovalue()">SUBMIT</button>
</form>
      </div>
    </div>

    <!--Modal3 rental-->
    <div class="modal" id="modal3">
      <div class="container">
        <div class="text-align center black-text">
          <h3 class="center">Consult the Doctor</h3>
          <form action="/doctor" method="POST">
            <div class="input-field">
              <input type="text" name="name" id="name" placeholder="" required>
              <label for="name">
                <span class="material-icons">
                  account_circle
                  </span>
              </label>
            </div>
           <div class="input-field">
            <input type="email" name="email" placeholder="email" required\>
            <label for="email"><i class="material-icons">email</i></label>
           </div>
            <div class="input-field">
              <input type="number" name="phonenumber" placeholder="07xxxxxx00">
              <label for="number">
                <i class="material-icons">phone</i>
              </label>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" name="illness" placeholder="issue"></textarea>
            </div>
            <div class="input-field">
              <input type="text" name="date" class="datepicker">
              <label for="date">Choose a date you need to see the doctor for...</label>
            </div>
            <button class="btn teal">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>

    
    <div class="section white">
      <div class="row container">
        <h2 class="header">We also sell seedlings of all varieties</h2>
        <p class="grey-text text-darken-3 lighten-3 scrollspy-text">We are a certified organisation,licensed in seedling selling and agricultural crops production</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="/assets/seedling2.jpg"></div>
    </div>
 
        <!--sign-up form-->
        <div class="modal" id="modal1">
          <div class="container">
          <div class="row">
         <div class="col s12">
           <form class="Admy">
             <h2 class="text-align-center teal-text">Be part of us</h2>
             <div class="input-field">
               <i class="material-icons prefix">email</i>
              <input type="text" id="signup_email" placeholder="email">
             </div>
           <div  class="input-field">
             <i class="material-icons prefix">password</i>
             <input type="password" id="signup_password" required>
             <label for="password">password</label>
           </div>
           <button class="btn teal text-center wave-effect waves-light">SUBMIT
           <i class="material-icons">send</i></button>
           </form>
         </div>
          </div>
          </div>
        </div>
        <!--Admin-->
        <div class="modal" id="Admin">
          <div class="container">
            <div class="row">
           <div class="col s12">
             <form class="content">
               <h2 class="text-align-center teal-text">ADMINISTRATOR</h2>
               <div class="input-field">
                 <i class="material-icons prefix">email</i>
                <input type="text" id="email" placeholder="email">
               </div>
             <div  class="input-field">
               <i class="material-icons prefix">password</i>
               <input type="password" id="password" required>
               <label for="password">password</label>
             </div>
             <button class="btn teal text-center wave-effect waves-light">SUBMIT
             <i class="material-icons">send</i></button>
             </form>
           </div>
            </div>
            </div>
        </div>
    <!--footer-->
   <%-include("partials/footer.ejs")-%>
      </main>
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/index.js"></script>
</body>

</html>