<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head");%>
  <body>
    <%-include("./partials/nav");%>
    <main>
      <div class="container">
        <ul class="collapsible z-depth-0 guides" style="border: none">
          <li>
            <div class="collapsible-header grey-lighten-4 text-large">
              History
            </div>
            <div class="collapsible-body white">
              <h4 class="center">Rental Houses</h4>
              <P style="font-size: 1.5rem"
                >Started with our own Residential house and understanding the
                need for houses for the rising population We had to quench the
                thirst and give them best home experience There came Green
                developers Homes
              </P>
              <h4 class="center">Fish Farming</h4>
              <P style="font-size: 1.5rem"
                >Since we are situated in Mt kenya region where rainfall is
                sufficient,we actually had to collect and store exess water for
                future use.The excess water we did use it for agricultural
                farming and aquaculture where there is a growing demand for fish
              </P>
              <h4 class="center">Seedlings</h4>
              <P style="font-size: 1.5rem"
                >We as Green farm developers we have always valued environment
                conservation this led us to start seedbeds, where over the years
                we have been suppling seedlings of all varieties.We are
                certified and licensed by KFRI (Kenya Forest Research Institute)
              </P>
            </div>
          </li>
          <li>
            <div class="collapsible-header grey-lighten-4 text-large">
              Mission
            </div>
            <div class="collapsible-body white" style="font-size: 1.5rem">
              <P
                >Our Mission is to support the big 4 agenda of our Kenya
                Government that is:</P
              >
              <p>(1)-Food and Nutrition security</p>
              <p>(2)-Affordable housing</p>
              <P>(3)-Manufacture</P>
              <P>(4)-Universal Health Care</P>
              <p>
                Hence we came up with rental houses, fish farming , Nutrition &
                Health clinic , bananas and vegetables farming. Hence covering
                the enire niche and meeting the country Mission
              </p>
            </div>
          </li>
          <li>
            <div class="collapsible-header grey-lighten-4 text-large">
              Vision
            </div>
            <div class="collapsible-body white" style="font-size: 1.5rem">
              Our goal and vision is by 2030 we be part of Kenyan Government
              success, for a better living for kenyan citizens
            </div>
          </li>
        </ul>
      </div>

      <div class="container">
        <h2 class="indigo-text-darken-4 text-center prof-text green">
          Team profile
        </h2>
      </div>
      <!--TEAM AND Founder-->
      <setion class="container scrollspy" id="Founder">
        <div class="row prof-row">
          <div class="col s12 l4 offset-l1">
            <img
              src="/assets/compressed/CEO-min.jpg"
              class="responsive-img materialboxed prof-img"
            />
          </div>
          <div class="col s12 l6 offset-l1">
            <h3>Mr James Kamotho</h3>
            <h5>The C.E.O</h5>
            <P style="font-size: 1.5rem"
              >Green farm community is one of a kind founded under the
              principles of integrity,harmony and co-operation between us and
              our dear clients. Over the years we have offered quality services
              and better life accomodation to our beloved customers.Do your
              booking for house accomodation as well inneed of any services let
              us know.Interact with us in our social media plartforms and give
              us your views we shall appreciate alot.
            </P>
          </div>
        </div>
        <div class="row">
          <div class="row prof-row">
            <div class="col s12 l4 push-l7">
              <img
                src="/assets/compressed/Vice CEO.jpg"
                class="responsive-img materialboxed prof-img"
              />
            </div>
            <div class="col s12 l6 pull-l5 right-align offset-l1">
              <h3>Mrs kamotho</h3>
              <h5>The vice president</h5>
              <P style="font-size: 1.5rem"
                >We are here to deliver the best service to you our dear
                customer and to make you feel at home.We are always available
                and if you want to reach us face to face you are dearly welcome
                at our headquaters Nyeri.
              </P>
            </div>
          </div>
        </div>
      </setion>
      <!--Our services-->
      <div class="container scrollspy" id="Services">
        <h2>Services</h2>
        <div class="row">
          <div class="col s12 l6">
            <div class="card">
              <div class="card-image">
                <img
                  src="/assets/compressed/picture5.jpg"
                  style="width: px; height: 400px"
                  class="responsive-img"
                />
                <a href="#" class="halfway-fab btn-floating pink pulse"
                >
                  <i class="fa fa-home" aria-hidden="true"></i>
                </a>
              </div>
              <div class="card-content">
                <span class="card-title">Rentals</span>
                <div style="font-size: 1rem">
                  <p>
                    In need of either a single room,bed siter or an appartment
                    this is the best place you have come to look at
                  </p>
                  <p>
                    The rental cost is well affordable meeting the tenant pocket
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="/housebook" class="modal-trigger">More details</a>
                <a href="https://web.facebook.com/james.kamotho.501"
                 target="_blank" >follows on</a
                >
              </div>
            </div>
          </div>
          <div class="col s12 l6">
            <div class="card">
              <div class="card-image">
                <img
                  src="/assets/compressed/fish.jpeg"
                  style="width: 250; height: 400px"
                  class="responsive-img"
                />
                <a href="#" class="halfway-fab btn-floating pink pulse">
                  <i class="fa fa-medkit" aria-hidden="true"></i>
                </a>
              </div>
              <div class="card-content">
                <span class="card-title">Nutrition services</span>
                <p style="font-size: 1rem">
                  Get best health advice from a qualified practitionist
                </p>
              </div>
              <div class="card-action">
                <a href="/patientbook" class="modal-trigger">More details</a>
                <a href="https://web.facebook.com/james.kamotho.501"
                target="_blank"  >follows on</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--modal2-->
     

      <!--Modal3 rental-->
     

      <div class="section white">
        <div class="row container">
          <h2 class="header">We also sell seedlings of all varieties</h2>
          <p class="grey-text text-darken-3 lighten-3 scrollspy-text">
            We are a certified organisation,licensed in seedling selling and
            agricultural crops production
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="/assets/compressed/seedling2-min.jpg" /></div>
      </div>

      <!--sign-up form-->
     
      <!--Admin-->
    
      <!--footer-->
     
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
