<html lang="en">
  <%- include('./partials/head.ejs'); %>
<body>
<%-include("./partials/authnav.ejs"); %>
  <div class="" id="">
      <div class="container">
        <h3 class="text-align center">For booking</h3>
  <ul class="collection with-header">
  <li class="collection-header">Contact us</li>
  <li class="collection-item">email:greenfarm199@mail.com</li>
  <li class="collection-item">phonenumber: 0721308329/0725730116</li>
  </ul>
  <form action="/booking" method="POST">
  <h3>Booking  Form</h3>
  <div class="input-field">
    <input type="text" name="name" id="name" placeholder="" required>
    <label for="name">
      <span class="material-icons">
        account_circle
        </span>
    </label>
  </div>
    <div class="input-field">
      <input type="number" name="phonenumber" id="phonenumber" placeholder="07xxxxxx00." required>
      <label for="phonenumber"> 
      <i class="material-icons">phone</i>
      </label>
    </div>
  <div class="input-field">
  <input type="text" name="email" id="email" placeholder="email@gmail.com" required>
  <label for="email">
  <i class="material-icons">email</i>
  </label>
  </div>
  
  <p>
  <label>
    <input name="housedescription" type="radio"  value="single-rooms" checked/>
    <span>Single-rooms</span>
  </label>
  </p>
  <p>
  <label>
    <input class="with-gap"
     name="housedescription" value="bed-sitter" type="radio"  />
    <span>Bed-sitter</span>
  </label>
  </p>
  <p>
  <label>
    <input name="housedescription" type="radio"  value="appartments"
     disabled="disabled" />
    <span>Appartments</span>
  </label>
  </p>
  <div id="houseresult"></div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="details"name="details"
     placeholder="Enter More details on house you want to book" required>
    </textarea>
    <label class="details">
      <span class="material-icons">
        feed
        </span>
    </label>
  </div>
  
  <div class="input-field">
    <input type="text" name="date" class="datepicker">
    <label for="date">
      <span class="material-icons">
        calendar_today
        </span>
    </label>
  </div>
  <button class="btn teal" onclick="displayRadiovalue()">SUBMIT</button>
  </form>
      </div>
    </div>
    <%-include("./partials/footer.ejs");%>
<script src="/Clientspg.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/index.js"></script>
</body>
</html>