<html lang="en">
  <%- include('./partials/head.ejs'); %>
<body>
<%-include("./partials/authnav.ejs"); %>
  <div class="" id="">
      <div class="container">
        <h3 class="text-align center">For booking</h3>
  <ul class="collection with-header">
  <li class="collection-header">Contact us</li>
  <li class="collection-item">email:greenfarm199@mail.com</li>
  <li class="collection-item">phonenumber: 0721308329/0725730116</li>
  </ul>
  <form action="/api/v1/house/booking" method="POST">
  <h3>Booking  Form</h3>
  <div class="input-field">
    <input type="text" name="name" id="name" placeholder="User Name" required>
  </div>
    <div class="input-field">
      <input type="number" name="phonenumber" id="phonenumber" placeholder="07xxxxxx00." required>
    </div>
  <div class="input-field">
  <input type="text" name="email" id="email" placeholder="email@gmail.com" required>
  </div> 
  <p>
  <label>
    <input name="housedescription" type="radio" 
     value="single-rooms" checked/>
    <span>Single-rooms</span>
  </label>
  </p>
  <p>
  <label>
    <input class="with-gap"
     name="housedescription" value="bed-sitter"
      type="radio"     disabled="disabled" />
    <span>Bed-sitter</span>
  </label>
  </p>
  <p>
  <label>
    <input name="housedescription" type="radio"  
    value="appartments"
     disabled="disabled" />
    <span>Appartments</span>
  </label>
  </p>
  <div id="houseresult"></div>
  <div class="input-field">
    <input id="details"name="details"
     placeholder="Enter More details on the house you want to book" required>
    </input>
   
  </div>
  
  <div class="input-field">
    <input type="text" name="date" class="datepicker" placeholder="Pick the date you want to move in">
  </div>
  <button class="btn teal" onclick="displayRadiovalue()">SUBMIT</button>
  </form>
      </div>
    </div>
<script src="/Clientspg.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/index.js"></script>
</body>
</html>