<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
<%-include("./partials/authnav.ejs"); %>
<main>
    <h2>Order online,Book appointment and House booking</h2>
    <h4><a href="/housebook">Book a House</a></h4>
    <h4><a href="/patientbook">Book an Appointment with the doctor</a></h4>
    <h4><a href="/Order">Buy fresh farm produce</a></h4>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/auth.js"></script>
</main>
<%-include("./partials/footer.ejs");%>
<script src="/Clientspg.js"></script>
</body>
</html>