<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head");-%>
    <body>
<%-include("./partials/authnav");-%>
<main class="loginform">
    <form id="loging" >
        <label for="email">Email</label>
        <input type="email" name="email" required/>
        <div class="emailerror"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required/>
        <div class="passworderror"></div>
        <button>Login</button>
    </form>
</main>
<%-include("./partials/authfooter");-%>
<script>
    const form = document.querySelector("form");
    const emailerror = document.querySelector(".emailerror");
const passworderror = document.querySelector(".passworderror");
    form.addEventListener("submit", async (e)=>{
e.preventDefault();
emailerror.textContent = "";
passworderror.textContent = "";
//grab values
const useremail = form.email.value;
const userpassword = form.password.value;
try {
    const res  = await fetch("/login",{
        method: 'POST',
        body: JSON.stringify({useremail:useremail,userpassword:userpassword}),
        headers: {'Content-Type': 'application/json'}
    });
    const data = await res.json();
    console.log(data);
    if (data.error) {
        emailerror.textContent = data.error.useremail;
        passworderror.textContent = data.error.userpassword;
    }
    if (data.user) {
     location.assign("/Client");
    }
} catch (error) {
    console.log(error);
}

    })
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/index.js"></script>
</body>
</html>

