<!DOCTYPE html>
<html lang="en">
<%-include("partials/head");-%>
<%-include("partials/authnav");-%>
<main>
    <form>
        <p style="color: rgb(231, 7, 164);">kindly Add an Email to receive the password Reset</p>
        <label for="email">Email</label>
        <input type="email" name="email" required/>
<input type="submit" style="background-color: teal;">
    </form>
</main>
<script>
    const form = document.querySelector("form");

</script>
<%-include("partials/footer");-%>
</html>