<%-include("./partials/head");%>
 <%-include("./partials/authnav.ejs");%>
<!--Modal3 rental-->
<div class="" id="">
  <div class="container">
    <div class="text-align center black-text" id="patientbooking">
      <h3 class="center">Consult the Doctor</h3>
      <form action="/api/v1/patients/doctor" method="POST" >
        <div class="input-field">
          <input type="text" name="name" id="name" placeholder="UserName" required />
        </div>
        
        <div class="input-field">
          <input type="email" name="email" placeholder="Email" required\ />
        </div>
        <div class="input-field">
          <input type="number" name="phonenumber" 
          placeholder="PHONE NUMBER" />
        </div>
        <div class="input-field">
          <input type="text" name="age" id="age"
         placeholder="Whats your age?"/>
        </div>
        <div class="input-field">
          <input
          placeholder="Kindly describe some of your symptoms" id="illness"
           name="illness" required>
          </input>
        </div>
        <div class="input-field">
          <input type="text" name="date" placeholder="Pick A date to see the doctor" class="datepicker" />
        </div>
        <button class="btn teal">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
<script>
//   const button = document.querySelector("btn");
//   const endpoint = "/api/v1/patients/doctor"
//   button.addEventListener("submit",function (e) {
//     e.preventDefault();
//     //recive data
//     fetch(endpoint,{
//       method:"POST"
//     }).then(resp=>{
//     return  resp.json()
//     }).then(data=>{
// window.location.href = data.redirect;
// alert(data.mess)
//     })
//   })
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/index.js"></script>
