<%-include("./partials/head.ejs");-%>
<%-include("./partials/authnav.ejs");-%>
<main>
    <form>
        <label for="email">Email</label>
        <input type="email" name="email" required />
        <div class="emailerror"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="passworderror"></div>
        <button>Sign Up</button>
      </form>
</main>
<script>
    const form  = document.querySelector("form");
    const emailerror = document.querySelector(".emailerror");
    const passworderror = document.querySelector(".passworderror");
    form.addEventListener("submit", async(e)=>{
        emailerror.textContent = "";
               passworderror.textContent = "";
        e.preventDefault();
        const useremail = form.email.value;
        const userpassword = form.password.value;
        try{
        const res = await fetch("/signup",{
method:"POST",
body:JSON.stringify({useremail,userpassword}),
headers:{"Content-Type":"application/json"}
           })
           //get the resp
           const data = await res.json();
           console.log(data.authErrors);
           if (data.authErrors) {
               emailerror.textContent = data.authErrors.useremail;
               passworderror.textContent = data.authErrors.userpassword;
           }
           if (data.usersigncred) {
               location.assign("/");
           }
        }catch(err){

        }
    }
    )
</script>
<%-include("./partials/footer.ejs");-%>
