*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height:100%;
}
#patientbooking{
 margin: 30px auto;   
}
main{
  height:100%;  
}
a .brand-logo{
font-size:32px;
text-shadow: 2px 2px wheat 0.4;
color:crimson;
}
.authfooter
{
    color: black;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.authfooter .flow-text{
    text-align: center;
    margin:5px auto ;  
    padding: 2px;
}
.footer{
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .flow-text{
    text-align: center;
    margin:5px auto ;  
    padding: 2px;
}
.sli
{
    font-size: 3rem;
    font-weight: bolder;
 font-style: oblique;
color: greenyellow;
}
.contact
{
    font-size: 16px;
}
.collection-header
{
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}
#map{
    height: 400px;
    width: 120%;
}
#modal1
{
    font-size: 20px;
}
.brand-logo{
    font-style: italic;
    font-size: larger;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
header nav{
    background-color: green;
    position: relative;
}
header ul{
    font-size:3rem;
    letter-spacing: 2px;
    font-style: oblique;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}
.navbar-fixed ul li{
    padding:0px;
    margin:0px 5px;
}

    @media only screen and (max-width:1024px){
        header nav{
            height: 12vh;
        }
     .navbar-fixed .brand-logo {
         padding-top:0px;
         margin-bottom: 25px;
         margin-top: 0px;
     }
     .nav-wrapper ul li{
         padding-top: 30px;
     }
    }
    @media only screen  and (max-width:993px){
        header nav{
            height: 8vh;
        }
    }
   .signupform, .loginform{
display: flex;
justify-content: center;
align-items: center;
    }
#signing{
    margin-top: 20px;
}
#loging{
    margin-top: 60px;
}
    /* @media only screen and (max-width:737px){
        header nav{
            height: 30vh;
            margin-bottom: 5rem;
        }
    } */
    /* @media only screen and (max-width:500px){
        header nav{
            height: 15vh;
        }
    } */
    /* @media only screen and (max-width:376px){
        header nav{
            height: 30vh;
        }
    } */
.patient{

}


    .btn{
        border-radius: 36px;
        background: #FEE996;
      }
      form h2{
        font-size: 2.4em;
        font-weight: 900;
        margin-bottom: 40px;
      }
      form{
        width: 360px;
        margin: 0 auto;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
        border-radius: 10px;
        background: white;
      }
      input{
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 1em;
        width: 100%;
      }
      label{
        display: block;
        margin: 20px 0 10px;
      }
      button{
        margin-top: 30px;
        border-radius: 36px;
        background: #FEE996;
        border:0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        display: block;
        padding: 10px 16px;
        letter-spacing: 2px;
      }

#social-media{
    margin:30px 20px;
}

#social-media h5{
    margin-bottom:5px auto;
}
#social-media a{
    padding:5px;
     margin:10px;
}
#Photo-gallery .row{
margin:30px auto;
}
#Photo-gallery .row .materialboxed {
    height: 300px;
    width:500px;
    margin: 20px auto;
}
#photo-gallery .container h5{
    margin: 10px auto;
    padding:5px;
}
.geolocation{
    margin:0px 10px;
}
.row-footer{
    margin-top: 0px;
    margin-bottom: 0px;
}
.myfooter{
    
}
.myfooter a {
margin: 0px 10px;
padding: 5px;
}
.navy a{
    margin: 5px 5px;
    padding: 5px;
    font-size: 1.5rem;
}
.prof-row{
    margin: 20px auto;
}
.prof-row div .prof-img{
    height:450px;
    width:400px;
}
.container .prof-text{
    text-align:center;
    margin:100px auto;
    padding:10px;
}
.scrollspy-text{
    text-align: center;
    margin:5px auto;
    font-size: 1.5rem;
}
.userinfo{
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
.userinfo h4{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
}

.container ul{
    margin-top: 20px;
}